@import 'normalize.scss';
// === Mixins ===
@mixin font-main {
    font-family: 'Lato', sans-serif;
}
@mixin font-secondary {
    font-family: 'Montserrat', sans-serif;
}
// === / Mixins ===

// === Variables ===
$color-white: #ffffff;
$color-main: #ffffff;

$screen-sm: 576px;;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// === / Variables ===

// === Common ===
*{
    box-sizing: border-box;
}

body {
    @include font-main;

    color: #414141;
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}

.description-item {
    &__icon{
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
    }
    &__text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #6c6c6c;
    }
}

@mixin start-button {
    @include font-secondary;
    font-size: 16px;
    margin: 0;
    padding: 16px 50px; 
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: .3s ease-in;

    &:hover {
        transform: scale(1.1);
    }
}

.btn-main {
    @include start-button;
    border: none;
    background: linear-gradient(to right, #fe985b, #fe4fa7); 
    color: $color-white;
}
.btn-secondary {
    @include start-button;
    border: solid 1px #979797;
    background: $color-white; 
    color: #414141;
}
.btn-free {
    @include start-button;
    border: none;
    background: $color-white; 
    color: #414141;
}

// === / Common ===

// === header ===
.section-header {
    color: #ffffff;
    background: url('../images/header.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(20, 39, 41, .54);
    }

    &-logo {
        padding-top: 29px;
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
    }
    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &-wrapper {
        margin: 0 auto;
        &__title,
        &__subtitle{
            text-align: center;
        }

        &__title{
            font-weight: bold;
            font-size: 55px;
            line-height: 60px;
            margin-bottom: 18px;
        }
        &__subtitle{
            @include font-secondary;

            font-size: 18px;
            line-height: 32px;
            width: 80%;
            margin: 0 auto 43px;
        }
        &__form{
            display: flex;

            &-input{
                flex: 1;
                input{
                    @include font-secondary;

                    border: none;
                    background-color: rgba(255, 255, 255, .25);
                    color: $color-white;
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;
                    width: 100%;
                    transition: .2s;

                    &::placeholder{
                        color: $color-white;
                    }

                    &:focus {
                        background-color: rgba(255, 255, 255, .5);
                    }
                }
            }
            @media (max-width: $screen-xs-max) {
                flex-direction: column;
                &-button {
                    flex: 1;
                    .btn-main {
                        display: block;
                        width: 100%;
                    }
                }
                &-input{
                    margin-bottom: 10px;
                }
            }
            @media (min-width: $screen-sm) {
                &-input{
                    margin-right: 40px;
                }

            }
        }
    }
}
// === / header ===

// === promo ===
.section-promo {
    padding-top: 120px;
    padding-bottom: 90px;
}

.section-promo-1 {
    display: flex;
    &__content,
    &__video{
        flex-basis: 50%;
    }

    &__content{
        .title {
            font-size: 34px;
            line-height: 51px;
            font-weight: bold;
            margin-bottom: 57px;
        }
        .description-item__text {
            //width: 75%;
            margin-bottom: 29px;
        }
    }
    &__video{
        img {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: $screen-sm-max) {
        flex-direction: column;

        &__video {
            order: -1;
            margin-bottom: 20px;
        }
    }
    @media (min-width: $screen-md) {
        &__content {
            padding-right: 90px;
        }
    }
}

.section-promo-2 {
    display: flex;
    padding-top: 86px;
    margin-top: 112px;
    border-top: solid 1px #e2e2e2;
    text-align: center;

    @media (max-width: $screen-xs-max) {
        flex-direction: column;
        .description-item + .description-item {
            margin-top: 37px;
        }
    }
    @media (min-width: $screen-sm) {
        .description-item + .description-item {
            margin-left: 37px;
        }
    }
}
// === / promo ===

// === founder ===
.section-founder {
    background-color: #f6fafd;
    padding-top: 34px;
    .section-inner {
        display: flex;
    }

    &__img{
        align-self: flex-end;
        margin-right: 50px;
    }
    &__content{
        align-self: center;
        &-text{
            @include font-secondary;
            font-size: 24px;
            line-height: 40px;
        }
        &-name{
            margin-top: 20px;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
        }
        &-post{
            @include font-secondary;
            font-size: 20px;
            line-height: 24px;
        }
    }
    
    @media (max-width: $screen-sm-max) {
        .section-inner {
            flex-direction: column;
        }

        &__content {
            order: -1;
            margin-bottom: 30px;
        }
    }
    @media (min-width: $screen-lg) {
        &__img{
            margin-left: 50px;
        }
    }
}
// === / founder ===

// === plans ===
.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title,
    &__subtitle {
        padding-bottom: 17px;
    }

    &__title {
        font-size: 36px;
        font-weight: bold;
        line-height: 51px;

    }
    &__subtitle {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 75px;
    }
    &__list {
        display: flex;
        justify-content: center;
        &-item {
            flex-basis: 370px;
            padding: 52px 45px 67px 45px;
            &-title{
                font-size: 14px;
                font-weight: bold;
                line-height: 17px; 
                text-transform: uppercase; 
                margin-bottom: 27px;    
            }
            &-price{
                margin-bottom: 27px;
                .prefix{
                    font-size: 72px;
                    line-height: 86px;
                    font-weight: bold;
                    color: #fe4fa7;
                }
                .postfix{}
            }
            &-description{
                margin-bottom: 45px;
            }
            &_button{}

            &.active {
                background-color: #f6fafd;
            }
        }
        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }
    }


    @media (min-width: $screen-sm) {
        &__subtitle {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    } 
}
// === / plans ===

// === free ===
.section-free {
    text-align: center;
    color: $color-white;
    background: linear-gradient(to right, #fe985b, #fe4fa7);
    padding-top: 120px; 
    padding-bottom: 120px;

    &__title{
        font-size: 55px;
        font-weight: bold;
        line-height: 60px;
        margin-bottom: 28px;
    }
    &__description{
        @include font-secondary;
        font-size: 20px;
        line-height: 30px;
        margin: 0 auto 42px;
    }
    &__button{}

    @media (min-width: $screen-lg) {
        &__description{
            width: 50%;
        }
    }
}
// === / free ===

// === footer ===
.section-footer {
    color: #464646;
    padding-top: 85px;
    padding-bottom: 95px;
    &__logo{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 29px;
        margin-bottom: 30px;
    }
    &__nav{
        display: flex;
        justify-content: center;
        margin: 0 0 75px;
        padding: 0;
        list-style: none;

        li{
            a{
                font-size: 14px;
                font-weight: bold;
                line-height: 20px;
                text-transform: uppercase;
                transition: .2s;

                &.active,
                &:hover {
                    color: #fe50a6;
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            text-align: center;
            li{
                & + li {
                margin-top: 7px;
                }
            }
        }
        @media (min-width: $screen-sm) {
            li{
                & + li {
                margin-left: 60px;
                }
            }
        }

    }
    &__copyright_and_links{
        @include font-secondary;

        display: flex;
        justify-content: space-evenly;
        font-size: 14px;
        line-height: 18px;


        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            text-align: center;
        }

        @media (min-width: $screen-lg) {
            justify-content: space-between;
            width: 57%;
            margin: 0 auto;
        }
    }
}
.helper-links {
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        margin-left: 29px;
        a{

            &.active{
                color: #fe50a6;
            }
        }
    }
    @media (max-width: $screen-xs-max) {
        display: inline-flex;
        margin-top: 10px;
    }
    @media (min-width: $screen-sm) {
        display: flex;
    }   
}

a{
    text-decoration: none;
    color: #464646;
}
// === / footer ===