@import "vars";
@import "libs";
@import "fonts";
@import "global";


// === Header ===
.section-header {
    margin-top: 16px;
    background: url('../img/header_bg.jpeg') no-repeat 50% 50%;
    background-size: cover;
    &-logo {
        padding-top: 22px;
    }
}
.section-wrapper-image {
    background: linear-gradient(180deg, rgba(#00354267, .3), rgba(#151824, .5));
    height: 100%;
    color: $white;
    position: relative;
}

.menu {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;  
}
.header-nav {
    li {
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        line-height: 24px;
        a {
            color: $white;
            transition: ease-in-out .2s ;
            &:hover {
                text-shadow: 0 0 20px rgba($white, .6);
    }
        }
    }
}
.section-header-content {
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &__title {
        font-size: 50px;
        line-height: 67px;
        margin-bottom: 22px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 55px;
    }
    &__form {
        display: flex;
        margin-bottom: 150px;
        &-input {
            margin-right: 20px;
            position: relative;
            input {
                width: 300px;
                padding: 6px 5px 20px 45px;
                background-color: rgba( $white, .0);
                border: none;
                border-bottom: 1px solid $white;
                outline: none;
                color: $white;
                font-size: 18px;
                line-height: 24px;
                position: relative;
                &::placeholder {
                    color: $white;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .check {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 21px;
                height: 21px;
                border: solid 1px $white;
                border-radius: 50%;
                &::after {
                    position: absolute;
                    content: '';
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    top: 3px;
                    left: 3px;
                    background-color: $white;
                    transition: .2s;
                    opacity: 0;
                }
            }
            input:focus + .check::after {
                opacity: 1;
            }
        }
        &-button {
            border: 3px solid #1b7dff;
            background-color: #1b7dff;
            a {
                position: relative;
                display: inline-block;
                z-index: 10;
            }
            .btn{
                transition: all 300ms ease;
                text-transform: uppercase;
                letter-spacing: .1rem;
                font-size: 21px;
                color: $white;
                padding: 15px 40px;
                border: none;
                &:before{
                    position: absolute;
                    content: '';
                    width: 0%; 
                    height: 100%;
                    background: $white;
                    top: 0;  
                    left: auto; 
                    right: 0;
                    z-index: -1;
                    transition: all 300ms ease;
                  }
                  
                &:hover{
                    color: #1b7dff; 
                    &:before{
                        position: absolute;
                        content: '';
                        width: 100%; 
                        height: 100%;
                        background: $white;
                        top: 0; 
                        left: 0; 
                        right: 0;
                        z-index: -1;
                    }
                }
            }
        }
    }
}
.section-header-end {
    background-color: $white;
    max-width: 1360px;
    margin: 0 auto;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: .01em;
    color: #102746;
    &__item {
        max-width: 1080px;
        margin: 0 auto;
        padding-top: 90px;
        padding-bottom: 90px;
    }
}
// === / Header ===

// === Section Learn ===
.section-learn {
    max-width: 1360px;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21,24,36,0.16);
    &__wrapper {
        display: flex;
    }
    &__item {
        margin-top: 50px; 
        margin-bottom: 100px;
        & + .section-learn__item {
            margin-left: 70px;
        }
        img {
            margin-bottom: 37px;
        }
        &-title {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 25px;
        }
        &-subtitle {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 40px;
        } 
    }
}
// === / Section Learn ===

// === Section Trip ===
.trip-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
    &__title {
        font-size: 35px;
        line-height: 47px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 250px;
            height: 2px;
            background-color: #006dfe;
            bottom: 0;
            left: 0;
        }
    }
    .button {
        min-width: 120px;
    }
}
.trip-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(280px, auto);
    grid-auto-flow: column;
    .grid {
        &-1{
            min-height: 360px;
            grid-column: 1/3;
            background-image: url(../img/Mount_Fuji.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-2{
            grid-column: 1/2;
            background-image: url(../img/Kyoto.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-3 {
            grid-column: 2/3;
            background-image: url(../img/Tokyo.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        } 
        &-4 {
            grid-column: 1/2;
            background-image: url(../img/Niigata.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        } 
        &-5 {
            grid-column: 2/3;
            background-image: url(../img/sapporo.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__item {
        position: relative;
        &-description {
            position: absolute;
            bottom: 27px;
            left: 29px;
            font-size: 50px;
            line-height: 60px;
            color: $white;
        }
    }
}
// === / Section Trip ===

// === Section prefecture ===
.section-prefecture__content {
    display: flex;
    & + .section-prefecture__content {
        margin-top: 55px;
    }
}
.section-prefecture__item {
    margin-left: 30px;
    &-title {
        font-size: 30px;
        line-height: 40px;
    }
    &-subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-top: 35px;
    }
    .button {
        min-width: 170px;
        margin-top: 65px;
    }
}

// === / Section prefecture ===

// === Section prefecture ===
.today-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(570px, auto);
    grid-auto-flow: column;
    grid-gap: 50px;
    .grid {
        &-1{
            grid-column: 1/2;
            .today-item__image {
                background-image: url(../img/today1.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            
        }
        &-2{
            grid-column: 2/3;
            .today-item__image {
                background-image: url(../img/today2.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            
        }
        &-3 {
            grid-column: 1/2;
            .today-item__image {
                background-image: url(../img/today3.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            
        } 
        &-4 {
            grid-column: 2/3;
            .today-item__image {
                background-image: url(../img/today4.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            
        } 
        &-5 {
            grid-column: 1/2;
            .today-item__image {
                background-image: url(../img/today5.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            
        }&-6 {
            grid-column: 2/3;
            .today-item__image {
                background-image: url(../img/today6.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            
        }
    }
}
.today-item {
    &__image {
        min-height: 390px;
        display: flex;
        align-items: flex-end;
    }
    &__content {
        margin-top: 45px;
        font-size: 16px;
        line-height: 24px;
    }
    &__button {
        margin-top: 30px;    
        a {  
            display: inline-block;  
            padding: 12px 19px;
            position: relative;
            z-index: 10;
        }
        .btn{          
            transition: all 300ms ease;
            border: 3px solid #1b7dff;
            background-color: #1b7dff;
            text-transform: uppercase;
            color: $white;
            &:before{
                position: absolute;
                content: '';
                width: 0%; 
                height: 100%;
                background: $white;
                top: 0;  
                left: auto; 
                right: 0;
                z-index: -1;
                transition: all 300ms ease;
              }
              
            &:hover{
                color: #1b7dff; 
                &:before{
                    position: absolute;
                    content: '';
                    width: 100%; 
                    height: 100%;
                    background: $white;
                    top: 0; 
                    left: 0; 
                    right: 0;
                    z-index: -1;
                }
            }
        }
    }
}
.image-description {
    padding: 25px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(21,24,36,0.6);
    &__title {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
        color: $white;
    }
}
.viget-like {
    position: relative;
    display: inline-block;
    margin-right: 35px;
    color: $white;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(140%);
        width: 16px;
        height: 15px;
        background-image: url(../img/heart.png);
    }
}
.viget-comment {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    color: $white;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(150%);
        width: 14px;
        height: 14px;
        background-image: url(../img/message.svg);
    }
}
// === / Section prefecture ===

// === Section video ===
.section-video {
    margin-top: 150px;
    .video-wrapper {
        max-width: 1360px;
        margin: 0 auto;
        video {
            width: 100%;
            margin-bottom: -3px; 
        }
        
    }
}
.section-video__img{
    nav { 
        .button-wrapper{
            display: flex;
            justify-content: center;
            .video_buttons {
                z-index: 5;
                margin-top: -70px;
                cursor: pointer;
                margin-bottom: 10px;
                & + .video_buttons {
                    margin-left: 20px;
                }
                font-size: 48px;
                display: inline-block;
            }
        }
        #bar {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 10px;
            border: solid 1px $white;
            background-color: #1b7dff;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        #progress{
            position: absolute;
            top: 0px;
            left: 0;
            width: 0px;
            height: 8px;
            background: rgba(0, 0, 95, 0.5);
            border-radius: 5px;
        }
    }
}
// === / Section video ===

// === footer ===
.footer {
    background: #0e1d28;
    width: 100%;
    &-content {
        padding: 120px 50px;
        display: flex;
        justify-content: space-around;
        &__img {
            img {
                transform: scale(2.5);
                margin-top: 50px;
            }
        }
        &__menu {
            display: flex;
            justify-content: space-between;
            &-item {
                min-width: 170px;
            }
        }
    }
}
.nav > li > a {
    font-size: 18px;
    line-height: 30px;
    color: $white;
    transition: ease-in-out .2s ;
    &:hover {
        font-size: 20px;
        text-shadow: 0 0 20px rgba($white, .6);
    }
}
// === / footer ===
@import "media";
