@import "vars";
@import "libs";
@import "fonts";
@import "global";

// ===  header ===
.section-header {
    background-image: url('../img/header_bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.section-header-logo {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $color_main;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__login {
        display: flex;
        .login-title {
            margin-right: 44px;
        }
        .login-button {
            a {
                padding: 12px 20px;
                background-color: $color_main;
                color: #1e5bde;
                border-radius: 4px;
            }
        }
    }
}
.section-header-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__block {
        margin-top: 130px;
        color: $color_main;
        max-width: 580px;
        &-title {
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0.5px;
            margin-bottom: 40px;
        }
        &-subtitle, 
        &-description{
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.26px;
        }
        &-subtitle {
            margin-bottom: 70px;
        }
        &-description {
            margin-bottom: 25px; 
        }
        &-form {
            display: flex;
            margin-bottom: 150px;
            .block-form {
                &__input {
                   input {
                       height: 50px;
                       padding: 0 10px;
                       width: 350px;
                       border-top-left-radius: 5px;
                       border-bottom-left-radius: 5px;
                       border: none;
                   }
                }
                &__button {
                    button {
                        height: 50px;
                        width: 150px;
                        border: none;
                        background-color: #053cce;
                        color: $color_main;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &__timer {
        margin-top: 50px;
        position: relative;
        &-text {
            position: absolute;
            top: 31.5%;
            left: 26.5%;
            color: $color_main;
            .timer-text{
                &__title {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 43px;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 0.34px;
                    margin-bottom: 10px;
                }
                &__time {
                    @include font-secondary;
                    font-size: 52px;
                    font-weight: 200;
                    line-height: 77px;
                    margin-bottom: 10px;
                }
                &__description {
                    display: flex;
                    justify-content: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 60px;
                    letter-spacing: 0.23px;
                    &-days {
                        margin-right: 29px;
                    }
                    &-hours {
                        margin-right: 27px;
                    }
                    &-min {
                        margin-right: 45px;
                    }
                }
            }
        }
    }
}
.menu-header {
    display: flex;
    li + li {
        margin-left: 40px;
    }
}
.section-header-donation {
    max-width: 780px;
    background-color: $color_main;
    border-radius: 8px;
    &__main {
        padding: 30px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        height: 160px;
        border-bottom: solid 1px #deecff;
        &-title {
            position: relative;
            color: #2f49b6;
            font-size: 40px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: 0.57px;
            padding-left: 130px;
            &::before {
                content: '';
                position: absolute;
                top: -30px;
                left: 0;
                width: 106px;
                height: 106px;
                background-image: url('../img/eth.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &-number {
            position: relative;
            color: #3334cc;
            @include font-secondary;
            font-size: 70px;
            font-weight: 200;
            line-height: 74px;
            &::before {
                content: 'ETH';
                position: absolute;
                bottom: -55px;
                right: 0;
                @include font-main;
                color: rgba(#3334cc, .6);    
                font-size: 20px;
                font-weight: 400;
                line-height: 60px;
                text-transform: uppercase;
                letter-spacing: 0.28px;
            }
        }
    }
    &__points {
        box-shadow: 0 2px 6px rgba(29,17,86,0.2);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &-wrapper{
            padding: 5px 30px;
            display: flex;
            justify-content: space-between;
            color: #e2689a;
            font-size: 18px;
            font-weight: 400;
            line-height: 60px;
            text-transform: uppercase;
            letter-spacing: 0.26px;
        }
        .section-header-donation__progress {
            position: relative;
            height: 16px;
            background: #e5e9ff;
            border-radius: 8px;
            width: 100%;
            &-wrapper {
                position: relative;
                height: 16px;
                background: linear-gradient(-29deg, #185ADD, #9C5EBE, #E2689A);
                border-radius: 8px;
            }
        }
    }
}
// === / header ===

// ===  partners ===
.section-partners {
    margin-top: 200px;
    position: relative;
    overflow: hidden;
    &-title {
        color: #e2689a;
        font-size: 18px;
        font-weight: 400;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4.46px;
        margin-bottom: 40px;
    }
    &-content {
        display: flex;
        justify-content: space-around;
    }
    
}
// === / partners ===
// ===  bit ===
.section-bit {
    margin-top: 140px;
    &__bg {
        position: absolute;
        width: 200vw;
        height: 500px;
        background: rgba(#deecff, .20);
        top: 130%;
        left: -20%;
        transform: translateY(200%);
        transform: rotate(-20deg);
        z-index: -5;
    }
    .section-inner {
        display: flex;
        justify-content: space-between;
        .section-bit-portfolio {
            padding-top: 100px;
            align-self: center;
            flex: 1;
            &__img{
                position: relative;
                .shadow {
                    box-shadow: 6px 2px 22px rgba(71,82,115,0.29);
                }
                &-shadow {
                    position: absolute;
                    top: -50px;
                    left: -50px;
                    z-index: -6;
                    opacity: 0.5;
                }
            }
        }
        .section-bit-content {
            flex: 1;
            padding-left: 200px;
            &__title {
                color: #e2689a;
                font-size: 18px;
                line-height: 60px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 4.46px;
                margin-bottom: 20px;
            }
            &__subtitle {
                max-width: 490px;
                color: #272727;
                font-size: 40px;
                line-height: 46px;
                letter-spacing: 0.5px;
                margin-bottom: 65px;
            }
            .bit-list {
                color: #272727;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.257px;
                li {
                    padding-left: 100px;
                    & + li {
                        margin-top: 40px;
                    }
                    &:first-child {
                        background: url('../img/atom.svg') no-repeat left center;
                    }
                    &:nth-child(2) {
                        background: url('../img/secure.svg') no-repeat left center;
                    }
                    &:last-child {
                        background: url('../img/aim.svg') no-repeat left center;
                    }
                }

            }
            &__button {
                margin-left: 100px;
                margin-top: 75px;
                font-size: 14px;
                a {
                    display: inline-block;
                    text-align: center;
                    line-height: 30px;
                    text-transform: uppercase;
                    letter-spacing: 0.2px;
                    padding: 10px 30px;
                    background: linear-gradient(154deg, #1b3bd8, #176ce0, #0b92e7, #0bb6eb, #00e0f2);
                    color: $color_main;
                    border-radius: 5px;
                }
            }
        }
    }
}
// === / bit ===

// ===  works ===
.section-works {
    &-title {
        margin-top: 145px;
        color: #e2689a;
        font-size: 18px;
        font-weight: 400;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4.46px;
    }
    &-buttons {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        input[type="radio"] {
            display: none;
            &:checked+label {
                box-shadow: 0px 0px 20px rgba(29,17,86,0.11);
            }
        }
        label {
            display: inline-block;
            width: 300px;
            padding: 30px 40px 30px 90px;
            transition: 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(2) {
                background: url('../img/diagramm.svg') no-repeat 12% center;
            }
            &:nth-child(4) {
                background: url('../img/pyramide.svg') no-repeat 12% center;
            }
            &:nth-child(6) {
                background: url('../img/aim.svg') no-repeat 11% center;
            }
            &:last-child {
                background: url('../img/eth-ico.svg') no-repeat 11% center;
            }
            
            
        }
    }
    &-content {
        margin-top: 120px;
        height: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__description {
            padding-left: 100px;
            max-width: 600px;
            margin: 0 auto;
            &-title {
                color: #005cc7;
                font-size: 30px;
                line-height: 38px;
                letter-spacing: 0.375px;
            }
            &-subtitle {
                margin-top: 20px;
                color: #272727;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.26px;
            }
        }
        &__img {
            padding-left: 100px;
        }
    }
}
.double {
    flex: 1;
    text-align: center;
    padding-left: 200px;
    position: relative;
    img:first-child {
        position: absolute;
        z-index: -1;
        top: -50px;
        left: 250px;
    }
}

.hidden{
    display: none;
}
// === / works ===

// ===  plan ===
.section-plan {
    margin-top: 120px;
    min-height: 300px;
    background: linear-gradient(-33deg, #185ADD, #723CC1, #E2689A);
    &-title {
        padding-top: 77px;
        color: $color_main;
        font-size: 18px;
        font-weight: 400;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4.46px;
    }
    &-content {
        padding-top: 110px;
    }
}
// === / plan ===

// ===  team ===
.section-team-core {
    &__title {
        margin-top: 130px;
        color: #e2689a;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 4.46px;
    }
    &__content {
        margin-top: 72px;
        display: flex;
        justify-content: center;
        .team-item {
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__name {
                margin-top: 30px;
                a {
                    color: #005cc7;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 32px;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 0.8333333px;
                }
            }
            &__describe {
                margin-top: 10px;
                max-width: 190px;
                min-height: 42px;
                color: #272727;
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                text-align: center;
                letter-spacing: 1px;
            }
            &__logo {
                margin-top: 22px;
            }
        }
    }
}
// === / team ===

// ===  seen ===
.section-seen {
    margin-top: 190px;
}
// === / seen ===

// ===  seen ===
.section-contacts {
    margin-top: 100px;
    position: relative;
    background-image: url(../img/contact_bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    width: 100%;
    height: 500px;
    .section-inner {
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
}
.section-contacts-info {
    margin-right: 160px;
    max-width: 550px;
    &__title {
        color: $color_main;
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.375px;
    }
    &__data {
        margin-top: 58px;
        color: $color_main;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2571429px;
        padding-left: 55px;
        &-phone {
            a {
                padding-left: 50px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 26px;
                    height: 26px;
                    background-image: url(../img/phone-ico.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            } 
        }
        &-email {
            margin-top: 38px;
            a {
                padding-left: 50px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 26px;
                    height: 26px;
                    background-image: url(../img/mail-ico.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        &-telegramm {
            margin-top: 38px;
            a {
                padding-left: 50px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 26px;
                    height: 26px;
                    background-image: url(../img/telegram-ico.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}

.section-contacts-login {
    max-width: 550px;
    padding: 55px 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(29,17,86,0.11);;
    &__title {
        color: #2f49b6;
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0.5714286px;
        margin-bottom: 12px;
    }
    &__input {
        margin-top: 15px;
        input {
            min-width: 400px;
            padding: 20px 10px;
        }

    }
    &__message {
        margin-top: 15px;
        textarea {
            resize: none;
            min-width: 400px;
            padding: 20px 10px;
        }
    }
    &__button {
        margin-top: 30px;
        button {
            text-align: center;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 0.2px;
            padding: 10px 50px;
            background: linear-gradient(154deg, #1b3bd8, #176ce0, #0b92e7, #0bb6eb, #00e0f2);
            color: $color_main;
            border-radius: 5px;
            border: none;
        }
    }
}
// === / contacts ===

// ===  footer ===
.section-footer {
    margin-top: 300px;
    margin-bottom: 60px;
    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-copy {
        color: #3f76c2;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    &-icons {
        a + a {
            margin-left: 20px;
        }
    }
}
// === / footer ===

@import "media";